/* CLASS AND ATTRIBUTES GO HERE*/
body{
    background-color: #122f57; ;
}
h1{
    text-align: center;
    color: white;
}
.aboutbox {
    display: flex;
    flex-wrap: nowrap;
    background-color: #88ddf0;
        justify-content: space-around;
        flex-direction:row;
  }
    .aboutbox > div {
    background-color: #88ddf0;
      color: white;
      width: 180px;
      height: 110px;
    margin: 10px;
    padding: 15px;
    font-size: 30px;
      text-align: center;
  } 
  .navigation a:link{
    text-decoration: none;
  }